<div class="flex flex-col lg:flex-row">
  <div class="lg:w-1/2">
    <h2 class="text-2xl mb-4">A bit more about me..</h2>
    <div class="py-2">
      <p class="py-2">
        With a background in business strategy, data analysis, and cryptocurrency exchange operations,
        I am now poised to transition into a product management role.
        With a proven track record of driving growth and implementing innovative strategies at bitFlyer Europe S.A.,
        I bring a unique blend of strategic vision, analytical prowess, and leadership skills to the table.
      </p>

      <p class="py-2">
        Leveraging my experience in market research, partnership development, and team management,
        I am eager to apply my insights and expertise to deliver impactful product solutions that drive user engagement
        and business success
      </p>

      <p class="py-2">
        Prior to my coding journey,
        I was working in the cryptocurrency space as a Business Strategy Manager for the largest cryptocurrency Exchange in Japan
      </p>
    </div>
  </div>

  <div class="lg:w-1/2 flex justify-center items-center">
    <img src="https://avatars.githubusercontent.com/u/99731948?v=4" class="max-w-full h-auto">
  </div>
</div>
