<div class="h-[70vh] flex flex-row items-center">

  <div class="pr-4">
    <h1 class="text-3xl"> Hey, I'm Jacek 👋</h1>
    <h1 class="text-2xl pt-2">
      I'm an aspiring full-stack developer that just graduated from Le Wagon Full-Time bootcamp.
      This site will be used to writes about code, design, and more.
    </h1>
    <%= render 'pages/skills' %>
  </div>

  <div>
    <img class="h-auto max-w-full rounded-full" src="https://media.licdn.com/dms/image/C4D03AQEej6OdNmDLdA/profile-displayphoto-shrink_800_800/0/1542553500451?e=1716422400&v=beta&t=sX9hPtY8H9khT7nBnddBXfOY91nxXKh4T0dBpGTeXcs">
  </div>
</div>
