<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>


<div class="h-[70vh] flex items-center justify-center">

  <div class="pr-4">
    <h1 class="text-2xl"> Hi, my</h1>
    <p class="text-4xl my-3"> name is <strong>Jacek</strong>.</p>

    <h1 class="text-1xl pt-2">
      I'm an aspiring full-stack developer that just graduated from Le Wagon</h1>
      <p>This site will be used to write about code, design, and more.<p>
    <%= render 'pages/skills' %>
  </div>


</div>
