<section class="hero">
  <%= render 'pages/hero'%>
</section>

<section class="socials">
  <div class="my-4 flex justify-center">
    <%= render 'pages/socials' %>
  </div>
</section>

<section class="about-me">
  <%= render 'about'%>
</section>
