<div class="project-card border-2 flex flex-col lg:flex-row  bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

  <div class="left-side w-full lg:w-1/3 flex flex-col items-start">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://res.cloudinary.com/dunpd9vqb/image/upload/v1710847496/image-portrait_odmh84.png">

  </div>

  <div class="right-side w-full lg:w-2/3 flex flex-col justify-between px-4 py-2">
    <div class="top-card flex justify-between items-center">
      <div class="text-lg font-bold">What to Do</div>
      <div class="text-sm">March 2024 - Present</div>
    </div>
    <p class="mt-4"> A mobile-first web app for discovering and sharing activities in London, simplifying group planning so that users can focus on doing rather than broswing.</p>
    <ul class="mt-4 flex flex-col text-gray-700 dark:text-gray-400">
      <li>- Ruby on Rails Framework, PostgreSQL, Bootstrap, Javascript, Stimulus</li>
      <li>- Mapbox integration, including address autocomplete</li>
      <li>- Group Chat </li>
      <li>- Cookie handling</li>
      <li>- MVC</li>
      <li>- AJAX/API</li>
      <li>- Authentification/Authorisation</li>
      <li>- git/github</li>
    </ul>


    <div class="buttons flex justify-center mt-4">
      <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
       <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
         See Code
       </span>
      </button>
       <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
       <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
         See Live Demo
       </span>
      </button>
    </div>

  </div>
</div>
