    <div class="my-3 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://res.cloudinary.com/dunpd9vqb/image/upload/v1710847496/image-portrait_odmh84.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">What To Do - March 2024</h5>
      <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
        Final Project of Le Wagon Coding Bootcamp
        Worked in a team of 3 to develop a Tinder-like web-app for activities, where people can find activities to do near them and share it to their group
        so that people can focus on doing rather than browsing.
      </h5>
      <button class=" w-2/12 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <%= link_to "Visit Website", "https://what-to-do-17f5c11b869c.herokuapp.com/", target: "_blank" %>
      </button>

      <button class=" w-2/12 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <%= link_to "See Code Source","https://github.com/nicolasay1/what-to-do", target: "_blank"%>
      </button>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">

        Tech stack:
        <ul class="text-gray-700 dark:text-gray-400">
          <li>- Ruby on Rails Framework, postSQL, Bootstrap, Javascript</li>
          <li>- Mapbox integration, including address autocomplete</li>
          <li>- Cookie handling</li>
          <li>- MVC</li>
          <li>- AJAX/API</li>
          <li>- Authentification/Authorisation</li>
          <li>- git/github</li>
          </ul>
        </p>
    </div>
    </div>

    <div>

    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://res.cloudinary.com/dunpd9vqb/image/upload/v1710847496/image-portrait_odmh84.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">What To Learn - April 2024</h5>
      <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
        Final Project of Coding Bootcamp, worked in a team of 3 to develop a Tinder-like web-app for activities
        so that people can focus on doing rather than browsing.
      </h5>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <ul class="text-gray-700 dark:text-gray-400">
          <li>- Mapbox integration, including address autocomplete</li>
          <li>- Cookie handling</li>
          <li>- MVC</li>
          <li>- AJAX/API</li>
          <li>- Authentification/Authorisation</li>
          <li>- git/github</li>
          </ul>
        </p>
        <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
          Github link: https://github.com/nicolasay1/what-to-do
        </h5>
    </div>
    </a>

</div>
